 /*Default Layout*/
 /* Mobile Layout: 480px and below. */
 
 #result {
     display: none;
 }
 
 .bg {
     display: none;
 }
 
 .Container_layout {
     position: absolute;
     margin: 0;
     width: 100%;
     height: 100vh;
 }
 
 .log_logo img {
     width: 150px;
 }
 
 .left {
     z-index: 2;
     float: left;
     background-image: url("../img/login.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     width: 0%;
 }
 
 .right {
     float: right;
     background-color: #683e31;
     width: 100%;
 }
 
 .right_container {
     margin: 22% 3%;
     height: 60%;
     width: 94%
 }
 
 form input {
     width: 72%;
 }
 
 form input:focus {
     width: 92%;
 }
 
 [type="submit"] {
     width: 82%;
 }
 /* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */
 
 @media only screen and (min-width: 481px) {
     .bg {
         filter: blur(3px);
         -webkit-filter: blur(3px);
         display: block;
     }
     .Container_layout {
         position: absolute;
         margin: 5vh 10%;
         width: 80%;
         height: 90vh;
     }
     .log_logo img {
         width: 180px;
     }
     .left {
         z-index: 2;
         float: left;
         background-image: url("../img/login.jpg");
         background-repeat: no-repeat;
         background-size: cover;
         width: 10%;
     }
     .right {
         float: right;
         background-color: #683e31;
         width: 90%;
     }
     [type="submit"] {
         width: 81%;
     }
 }
 /* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */
 
 @media only screen and (min-width: 769px) {
     .log_logo img {
         width: 220px;
     }
     .left {
         background-image: url("../img/login.jpg");
         background-repeat: no-repeat;
         background-size: cover;
         width: 45%;
     }
     .right {
         float: right;
         background-color: #683e31;
         width: 55%;
     }
     .right_container {
         margin: 20% 3%;
     }
     form input {
         width: 75%;
     }
     form input:focus {
         width: 92%;
     }
     [type="submit"] {
         width: 82%;
     }
 }