    @charset "utf-8";
    html {
        font-family: sans-serif;
        line-height: 1.4;
        font-size: 100%;
    }
    
    table {
        border-spacing: 0;
    }
    
    img,
    object,
    embed,
    video {
        max-width: 100%;
    }
    
    .fluid {
        clear: both;
        margin-left: 0;
        width: 100%;
        float: left;
        display: block;
    }
    
    .fluidList {
        list-style: none;
        list-style-image: none;
        margin: 0;
        padding: 0;
    }
    
    [type="button"],
    [type="submit"] {
        border-radius: 12px;
        margin: 4px 0;
        padding: 5px;
    }
    
    [readonly] {
        cursor: not-allowed;
    }
    /* Mobile Layout: 555px and below. */
    
    .bg {
        position: fixed;
        z-index: -2;
        height: 100vh;
        width: 100vw;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
    }
    
    .bg video {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    
    .header {
        background-color: none;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
    }
    
    #head h1 {
        font-size: 40px;
        color: white;
        padding-top: 35vh;
    }
    
    .gridContainer {
        margin: 0;
        width: 100%;
        padding-left: 0%;
        padding-right: 0%;
        clear: none;
        float: none;
    }
    
    .logo {
        padding-top: 8px;
        padding-bottom: 16px;
        text-align: center;
        width: 100%;
        margin-left: 0;
    }
    
    .UName {
        display: none;
    }
    
    .user {
        text-decoration: none;
        color: #F59C1E;
    }
    
    .user:hover {
        color: #e57002;
        transform: .5s;
    }
    
    .menu {
        float: none;
        font-size: 2em;
        width: 100%;
        margin-left: 0;
        clear: both;
    }
    
    .menu ul {
        margin: 0;
        padding-right: 0px;
        display: block;
        padding-left: 0;
        width: 100%;
    }
    
    .menu li {
        margin-left: 0 auto;
        width: 100%;
    }
    
    .menu a {
        float: left;
        text-transform: uppercase;
        color: #F59C1E;
        text-decoration: none;
        writing-mode: horizontal-tb;
        padding-left: 0px;
        font-size: 12px;
        font-weight: bolder;
    }
    
    .menu a:link {
        height: 30px;
        width: 100%;
    }
    
    .menu a:hover {
        color: #FFF;
        transform: .5s;
    }
    
    .menu .navIcon {
        display: block;
    }
    
    .menu .nav {
        display: none;
    }
    
    .layout-top {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
    }
    
    .boxOrder {
        background-color: black;
        width: 100%;
        height: 20vh;
        min-height: 150px;
    }
    
    .topBox {
        width: 100%;
        height: 20vh;
        min-height: 150px;
    }
    /*###################
		content
###################*/
    
    .contant {
        width: 100%;
        min-height: 100vh;
    }
    
    .Container {
        margin: 0 0;
        width: 100%;
        min-height: 100vh;
        text-align: center;
        background-color: #F59C1E;
    }
    
    .userContainer {
        margin: 0 4%;
        width: 92%;
        min-height: 100vh;
        text-align: center;
        background-color: #F59C1E;
    }
    
    .contant h1 {
        font-size: 35px;
        margin: 15px 0;
    }
    
    .contant h2 {
        font-size: 25px;
        margin: 10px 0;
        text-align: left;
    }
    
    #adminTable {
        max-width: 100%;
        float: center;
        border: 0;
    }
    
    .uData:hover {
        position: relative;
        background-color: #ff8000;
        cursor: pointer;
    }
    
    #adminTable th,
    #adminTable td {
        padding: 0 5px;
        border-top: 1px solid grey;
    }
    
    #adminTable td {
        word-break: break-word;
        white-space: normal;
    }
    
    #password,
    #gender,
    #phone {
        display: none;
    }
    
    .btnRow {
        width: 100%;
    }
    
    .btnLeft {
        float: right;
    }
    
    .userTips {
        float: left;
        text-align: left;
        font-size: 14px;
        margin: 0;
    }
    
    #table {
        clear: both;
    }
    
    .flex-outer {
        padding-left: 0;
    }
    
    .flex-outer li {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: 16px;
    }
    
    .flex-outer li label {
        flex: 1 0 150px;
        max-width: 240px;
        padding-left: 15px;
        text-align: left;
    }
    
    .flex-outer li label+* {
        flex: 1 0 180px;
    }
    
    #ePassword {
        padding-bottom: 0;
    }
    
    .inputs {
        background-color: transparent;
        border: 2px #FFF solid;
        border-radius: 10px;
        font-size: 1.2em;
        padding-left: 10px;
    }
    
    .inputs::placeholder {
        color: #FFF;
    }
    /*###################
		footer
###################*/
    
    footer {
        position: relative;
        z-index: 1;
        text-align: center;
        background-color: black;
        color: white;
        height: 80vh;
        width: 100%;
    }
    
    #social {
        position: absolute;
        top: 65%;
        left: 45%;
        transform: translate(-40%, -40%)
    }
    
    #social li {
        list-style: none;
        margin: 10px 15px;
        display: inline-block;
        font-size: 15px;
        padding: 12px 12px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 50%;
        transform: .5s;
    }
    
    #social li:hover {
        color: #F59C1E;
        border: 1px solid #F59C1E;
        transform: .5s;
    }
    
    footer ul {
        padding: 0;
    }
    /*###################
    radio Button
###################*/
    
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    
    [type="radio"]:checked+label,
    [type="radio"]:not(:checked)+label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: #fff;
    }
    
    [type="radio"]:checked+label:before,
    [type="radio"]:not(:checked)+label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 19px;
        height: 19px;
        border: 1px solid #ddd;
        border-radius: 100%;
        background: #fff;
    }
    
    [type="radio"]:checked+label:after,
    [type="radio"]:not(:checked)+label:after {
        content: '';
        width: 12px;
        height: 12px;
        background: #F59C1E;
        position: absolute;
        top: 5px;
        left: 5px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    
    [type="radio"]:not(:checked)+label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    
    [type="radio"]:checked+label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    /* Tablet Layout: 555px to 985px. Inherits styles from: Mobile Layout. */
    
    @media only screen and (min-width: 555px) {
        .boxOrder {
            height: 30vh;
            min-height: 280px;
        }
        .topBox {
            width: 100%;
            height: 30vh;
            min-height: 280px;
        }
        /*###################
		content
        ###################*/
        #password,
        #gender,
        #phone {
            display: table-cell;
        }
        .userContainer {
            margin: 0 6%;
            width: 88%;
        }
    }
    /* Desktop Layout: 985px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */
    
    @media only screen and (min-width: 985px) {
        .logo {
            padding-top: 15px;
            width: 15%;
            float: left;
        }
        .UName {
            display: block;
            font-size: 24px;
            color: #F59C1E;
            margin: 10px;
        }
        #head h1 {
            font-size: 42px;
            color: #F59C1E;
        }
        .menu {
            float: right;
            padding-right: 1%;
            width: 23.7288%;
            clear: none;
        }
        .menu ul {
            padding-right: 15px;
        }
        .menu li {
            display: block;
        }
        .menu a {
            float: right;
            font-size: 15px;
            text-transform: uppercase;
            text-decoration: overline;
            text-orientation: upright;
            writing-mode: vertical-lr;
        }
        .menu a:link {
            height: auto;
            padding: 5px;
            width: auto;
        }
        .menu .navIcon {
            display: none;
        }
        .menu .nav {
            display: block;
        }
        .boxOrder {
            height: 25vh;
            min-height: 200px;
        }
        .topBox {
            height: 25vh;
            min-height: 200px;
        }
        /*###################
		content
        ###################*/
        .Container {
            margin: 0 12.5%;
            width: 75%;
            min-height: 100vh;
            text-align: center;
            background-color: #F59C1E;
        }
        /*###################
		footer
        ###################*/
        #social {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-53%, -50%);
        }
        #social li {
            margin: 10px 30px;
            font-size: 20px;
            padding: 20px 20px;
        }
    }